.login{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #1f192f ;
    border-radius: 50px;
}

.login-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 29px 41px 7px 3px #2d6073;
    background-color: #65b8a6;
}

.title{
    /* font-size: 50px; */
    /* color: #e0d1ed; */
    color: #f0f7da;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 29px 41px 7px 3px #2d6073;
    background-color: #65b8a6;
}

.form-title, .form-password{
    color: #f0f7da;
    font-size: 24px;
}

.form-input{
    width: 200px;
    height: 2.5vh;
    border-radius: 5px;
    border: 2px solid #1f192f;
}

.error{
    color: red;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}